img {
    height: 50px;
    width: 50px;
    margin-left: 0;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
}
body {
    background-color: #fdf1d3;
}
label {
    display: block;
    float: left;
    width: 150px;
}
input {
    display: block;
    width: 150px;
}
iframe {
    position: fixed;
    height: 50px; 
    width: 100%;
    top: 0;
    left: 0;
    border-top: 3px black;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}