#meni {
    position: fixed;
    width: 100%;
    border: #ff9900;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    
}
#meni li{
    display: inline-block;
}
#meni li:hover > a{
    color: #ff9900;
}
body {
    background-color: #fdf1d3;
}

