img {
    margin: 10px;
    width: 250px;
    height: 100px;
}
.grid-container {
    display: grid;
    background-color: blanchedalmond;
    gap: 20px 20px;
    margin: 20px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .grid-item-stan {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
}
.grid-item-kuca {
    background-color: powderblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    min-inline-size: 300px;
}
.grid-item-PProstor {
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    min-inline-size: 300px;
}
.lijeviPodaci p{
    display: inline-block;
}
.desniPodaci {
    text-align: right;
}
.paragrafiDesni {
    display: inline-block;
    text-align: left;
}
.dugme {
    position: relative;
    left: 40%;
    width: 70px;
    height: 25px;
    margin-top: 25px;
}
body {
    background-color: #fdf1d3;
}
iframe {
    position: fixed;
    height: 50px; 
    width: 100%;
    top: 0;
    left: 0;
    border-top: 3px black;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}